.Button {
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 1.406rem;
  height: 3.44rem;
  justify-content:  center;
  align-items: center;
  text-align: center;
  width: 3.44rem;
  transition: filter 0.3s ease-in;
}
.Button:active,
.Button:focus{
  filter:brightness(200%);
}
.Button.zero {
  width:7.81rem;
  grid-column: 1/ span 2;
  border-radius: 1.8rem;
  position: relative;
  justify-content:flex-start;
  padding: 1.35rem;
}

.Button.function{
  color:black;
  background: #a5a5a5;
}

.Button.operator{
  /* color:white; */
  background: #f1a33c;
}
