.Button {
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 2.812rem;
  height: 6.88rem;
  justify-content:  center;
  align-items: center;
  text-align: center;
  width: 6.88rem;
  transition: filter 0.3s ease-in;
}
.Button:active,
.Button:focus{
  filter:brightness(200%);
}
.Button.zero {
  width:15.63rem;
  grid-column: 1/ span 2;
  border-radius: 3.6rem;
  position: relative;
  justify-content:flex-start;
  padding: 2.69rem;
}

.Button.function{
  color:black;
  background: #a5a5a5;
}

.Button.operator{
  /* color:white; */
  background: #f1a33c;
}
