.App {
  width: 563px;
  height: 1218px;
  background: black;
  color: white;
  border-radius: 50px;
  padding: 20px;
  position: relative;
}

.top {
  display: flex;
  justify-content: space-between;
  height: 250px;
  padding: 0 20px;
}

.display {
  font-size: 130px;
  margin-bottom: 20px;
  font-weight: 300;
  text-align: right;
}

.buttons {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.bottom{
position: absolute;
width: 200px;
height: 5px;
background: white;
bottom: 10px;
left: 50%;
border-radius: 4px;
transform: translateX(-50%);
}






















/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
