.App {
  width: 35.18rem;
  height: 76.12rem;
  background: black;
  color: white;
  border-radius: 3.13rem;
  padding: 1.25rem;
  position: relative;
  margin: auto;
}

.top {
  display: flex;
  justify-content: space-between;
  height: 15.63rem;
  padding: 0 1.25rem;
}

.display {
  font-size: 8.125rem;
  margin-bottom: 1.25rem;
  font-weight: 300;
  text-align: right;
}

.buttons {
  display: grid;
  grid-gap: 1.25rem;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.bottom{
position: absolute;
width: 12.5rem;
height: 0.312rem;
background: white;
bottom: .625rem;
left: 50%;
border-radius: 0.25rem;
transform: translateX(-50%);
}






















/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
